.App {
    text-align: center;
}

/* static values :-moz-user-disabled
border-color - #ececec */

.brdr1 {
    border: 1px solid #afacac;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.loginWrapper {
    box-shadow: 3px 4px 5px #afacac;
    padding: 10px;
    margin-top: 10px;
    background-color: #343a40;
    opacity: 0.9;
    color: white;
}
nav a:hover {
    color: #ffffff;
}
nav a {
    color: rgba(255, 255, 255, 0.5);
}
.mb5 {
    margin-bottom: 5px;
}
.form-control {
    color: #ffffff;
    background-color: #343a40;
}
